.project-row {
    border: 2px solid #CCC;
    padding: 12px;
    margin: 6px;
}

.project-row:hover {
    background: #378fc2;
    border-color: #15475c;
}

.project-row.active {
    background: #CCC;
}