{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Dashboard</h1>


    <div class="row">

        <div class="col-md-8">

            <form method="get" action="/">
                <div class="row form-group">
                    <div class="col-md-4">
                        <div class="input-group date" id="datefrom" data-default="{{ dateFrom.format('c') }}">
                            <input class="form-control" type="text" name="datefrom" data-format="YYYY-MM-DD" placeholder="Filter from" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group date" id="datetill" data-default="{{ dateTill.format('c') }}">
                            <input class="form-control" type="text" name="datetill" data-format="YYYY-MM-DD" placeholder="Filter till" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4"><input value="Filter" type="submit" class="btn btn-lg btn-primary" /></div>
                </div>
            </form>
            <div class="row">
                <p>Totaal van datum select: {{ timeCalculator(totalTime, '%D %Hh%im%ss') }} </p>
            </div>

            <div class="row">
            {% for projectId, projectTime in projectTimes %}

                <div class="col-md-5 project-row" data-seconds="{{ projectTime.seconds }}">

                    <div class="col-md-10">
                        <h3>{{ projects[projectId].name }} ({{ projectId }})</h3>
                        {% if projectTime.diff %}
                            {{ projectTime.diff.format('%dd%Hh%Im%Ss') }}
                        {% endif %}
                    </div>

                    <div class="col-md-2">
                    </div>

                </div>

            {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="row" data-spy="affix">
                <p>Totaal van geselecteerde projecten: <span id="calculatedTime">0</span></p>
            </div>
        </div>

    </div>

{% endblock %}

