<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
</head>
<body>

    <div class="container">

        {% block content %}{% endblock %}

    </div>

    <script src="/js/vendor/jquery-1.10.1.min.js"></script>
    <script src="/js/vendor/moment.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>