{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">

        {% for table in schema %}

            <h3>{{ table.name }}</h3>

            <table class="table table-bordered pull-left">
                {#<thead>#}
                    {#<tr>#}
                        {#{% for column in table.columns %}#}
                            {#<th colspan="5">{{ column.name }}</th>#}
                        {#{% endfor %}#}
                    {#</tr>#}
                {#</thead>#}
                <tbody>
                {% for column in table.columns %}
                    <tr>
                        <th class="span4">{{ column.name }}</th>
                        <th>{{ column.type }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endfor %}

    </div>

{% endblock %}

